body {
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    font-family: 'SVN-Gilroy Bold';}

.contain {
    background-color: #f8f8f8;
    padding: 50px;
}

.title{

    text-align: center;
    padding: 0 0 20px 0 ;
}
.title-bottom{

}

/* CSS cho phần bên trái (sidebar) */
.sidebar {
    width: 250px;
    background-color: #fff;
    padding: 0 20px;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    /* Tăng độ dài */

    /* Đổ bóng sang phải và sang trái */
}



.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
    text-align: center;
    align-items: center;
}

.username {
    font-size: 18px;
}

.logout-button {
    background-color: #ff5722;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 50px;
    width: 200px;
    align-items: center;
    text-align: center;

}
.menu{
    display: flex;
    cursor: pointer;
}
.menu i{
    margin-right: 10px;
}



.sidebar ul {
    list-style-type: none;
    padding: 30px 0 0 0;
}

.sidebar ul a li {
    padding: 0 0 40px 0;
    margin-right: 40px;
    height: 2px;
    font-size: 17px;

}

.li1 {
    color: #ff5722;

}

.content {
    margin-left: 320px;
    /* Để tạo khoảng cách với phần sidebar */

    min-height: 80vh;
    background-color: #fff;
    /* Đổ bóng sang trái và sang phải */
}

.content-top {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
}

.order-table th,
.order-table td {
    border: none;
    /* Loại bỏ đường gạch dọc */
    padding: 8px;
    text-align: center;
}

.order-table th {
    background-color: #f8f8f8;
    height: 30px;
    border-bottom: 1px solid #DDE1EF;
    border-top: 1px solid #DDE1EF;
}

form{
    padding: 30px 30px;
}
form button{
    width: 85px ;
    margin-left: 315px;
}

.mb-3{
    width: 400px;
}

.mb-3 input{
    height: 50px;
}
.messenger{
    position: fixed;
    bottom: 50px; /* Điều chỉnh khoảng cách từ dưới lên */
    right: 1px;/* Điều chỉnh khoảng cách từ phải qua */
}
.messenger .zalo-chat-widget-link img{
    width: 106px;
}
.zalo-chat-widget-link img{
    width: 100px;
}
.zalo{
    position: fixed;
    bottom: 120px; /* Điều chỉnh khoảng cách từ dưới lên */
    right: 10px; /* Điều chỉnh khoảng cách từ phải qua */
}
.zalo .zalo-chat-widget-link img{
    width: 90px;
}



